@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Shantell+Sans:wght@300&family=Tilt+Neon&display=swap');

body{
    background-color:#EDF1D6 ;
    font-family: 'Poppins', sans-serif;
    background-image: url(./assets/fondo.jpg);
}
.title{
    font-family: 'Tilt Neon', cursive;
    display: flex;
    color: #000000;
    width: 129px;
    height: 54px;
    padding: 5px;
    background-color: #9DC08B;
    box-sizing: border-box;
    border-radius: 14px;
    align-content: center;
    align-items: center;
    justify-content: center
}
.subtitulo{
    font-family: 'Shantell Sans', cursive;
    margin: 14px 10px 30px 10px;
}
#seleccionDeMaestro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.tarjeta-maestro {
    font-family: 'Tilt Neon', cursive;
    width: 190px;
    height: 122px;
    background-color: #609966;
    margin: 8px;
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.tarjeta-maestro img{
    width: 120px;
}
.boton-maestro{
    display: flex;
    align-items: center;
    flex-direction: row;
}
input {
    margin: 8px;
    width: 16px;
    height: 31px;
}
#boton-maestro {
    font-family: 'Poppins', sans-serif;
    width: 141px;
    height: 32px;
    margin: 31px;
    color: aliceblue;
    background-color: #40513B;
    border-radius: 20px;
}

#seleciona-ataque{
    flex-direction: column;
    align-items: center;
}
#botonAire{
    font-family: 'Poppins', sans-serif;
    width: 50px;
    height: 32px;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    background-color: #8fd3d8;
}
#botonAgua{
    font-family: 'Poppins', sans-serif;
    width: 50px;
    height: 32px;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    background-color: #3b78d3;
}
#botonTierra{
    font-family: 'Poppins', sans-serif;
    width: 50px;
    height: 32px;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    background-color: #58441d;
}
#botonFuego{
    font-family: 'Poppins', sans-serif;
    width: 50px;
    height: 32px;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    background-color: #eb7c22d7;
}